<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	
	<property name="hibernate.connection.driver_class">
		com.mysql.cj.jdbc.Driver
	</property>
	
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:2016/periodicals1?useTimezone=true&amp;serverTimezone=UTC
	</property>
	
	<property name="hibernate.connection.username">
		root
	</property>
	
	<property name="hibernate.connection.password">
	</property>
	
	<property name="show_sql">true</property>
	
	<property name="hbm2ddl.auto">create</property>
	
	<property name="hibernate.enable_lazy_load_no_trans">true</property>

	<property name="hibernate.connection.pool_size">10</property>
	
	<!-- ff hibernate.format_sql:
 The possible values are true and false
 It shows the hibernate-generated queries in the pretty format if set as true
ff hibernate.connection.autocommit:
 The possible values are true and false
 It sets the autocommit mode for JDBC -->
	
	<!-- List of XML mapping files -->
	<mapping resource="hbm/user.hbm.xml"/>
	<!--<mapping resource="hbm/role.hbm.xml"/>-->
	<!--<mapping resource="hbm/publication.hbm.xml"/>-->
	<mapping resource="hbm/subscription.hbm.xml"/>
	<!--<mapping resource="hbm/theme.hbm.xml"/>-->
	<!--<mapping resource="hbm/type.hbm.xml"/>-->
	
	<mapping class="by.htp.periodicals.domain.Publication" />
	<mapping class="by.htp.periodicals.domain.Role" />
	<mapping class="by.htp.periodicals.domain.Type" />
	<mapping class="by.htp.periodicals.domain.Theme" />
		
	</session-factory>
	
</hibernate-configuration>